<div class="contextual">
<%= link_to l(:button_log_time),
            {:controller => 'timelog', :action => 'new', :project_id => @project, :issue_id => @issue},
            :class => 'icon icon-time-add' if User.current.allowed_to?(:log_time, @project, :global => true) %>
</div>

<%= render_timelog_breadcrumb %>

<h2><%= l(:label_spent_time) %></h2>


<% html_title l(:label_spent_time), l(:label_detailed) %>